{
  "openapi": "3.1.0",
  "info": {
    "title": "ShellFans Public API",
    "version": "1.0.0",
    "summary": "Read-only public data about ShellFans: service lines, plans and corporate identity.",
    "description": "The ShellFans public API. Every operation is a GET, requires no credentials, returns no personal data, and changes nothing.\n\n**What is not here.** ShellFans also runs an administrative API, a chat pipeline, a customer console and payment webhooks. None of them are public and none appear in this document. Their absence is deliberate and is explained at https://shell.fans/developers rather than left for you to discover by probing.\n\n**No authentication exists.** There is no OAuth authorization server, no API keys for public consumers, and no scopes. Sending an Authorization header has no effect. The reasoning is documented at https://shell.fans/developers#auth.\n\n**Rate limits.** 120 requests per 60 seconds per client address, reported on every response via the RateLimit-* headers. Exceeding it returns 429 with Retry-After.\n\n**Errors.** RFC 9457 Problem Details, served as application/problem+json. Branch on the `code` field.\n\n**Versioning.** This is v1. The policy for breaking changes and deprecation is at https://shell.fans/developers#versioning.",
    "contact": {
      "name": "ShellFans AI Technology",
      "email": "hello@shell.fans",
      "url": "https://shell.fans/developers"
    },
    "license": {
      "name": "Content free to quote with attribution to ShellFans AI Technology",
      "url": "https://shell.fans/terms-and-conditions"
    }
  },
  "externalDocs": {
    "description": "ShellFans Developer Documentation",
    "url": "https://shell.fans/developers"
  },
  "servers": [
    {
      "url": "https://shell.fans",
      "description": "Production. The only ShellFans API host."
    }
  ],
  "tags": [
    {
      "name": "status",
      "description": "Availability and rate-limit state."
    },
    {
      "name": "catalog",
      "description": "What ShellFans sells and for how much."
    },
    {
      "name": "identity",
      "description": "Who ShellFans is, as a legal entity."
    }
  ],
  "security": [],
  "paths": {
    "/api/v1/status": {
      "get": {
        "operationId": "getServiceStatus",
        "summary": "Check whether the ShellFans public API is operational",
        "description": "Returns the API status and the calling address's current rate-limit allowance. This operation does not depend on any downstream service, so a 200 here confirms the API itself is reachable. Call this first when diagnosing a failure.",
        "tags": [
          "status"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "api_version",
                    "server_time",
                    "rate_limit"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "operational"
                      ],
                      "description": "Always \"operational\" in a 200 response. A non-200 means it is not."
                    },
                    "api_version": {
                      "type": "string",
                      "enum": [
                        "v1"
                      ],
                      "description": "Major version of this API."
                    },
                    "server_time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Server clock in ISO 8601 UTC."
                    },
                    "rate_limit": {
                      "type": "object",
                      "description": "The calling address's current allowance. Same values as the RateLimit-* headers.",
                      "required": [
                        "limit",
                        "remaining",
                        "reset_seconds",
                        "window_seconds"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "remaining": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "reset_seconds": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "window_seconds": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "operational",
                  "api_version": "v1",
                  "server_time": "2026-08-27T04:00:00.000Z",
                  "rate_limit": {
                    "limit": 120,
                    "remaining": 119,
                    "reset_seconds": 60,
                    "window_seconds": 60
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/resource-not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "No such operation in the ShellFans public API v1.",
                  "instance": "/api/v1/services",
                  "code": "RESOURCE_NOT_FOUND",
                  "available_operations": [
                    "/v1/status",
                    "/v1/services"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. The API is read-only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/method-not-allowed",
                  "title": "Method not allowed",
                  "status": 405,
                  "detail": "The ShellFans public API is read-only. Only GET and OPTIONS are accepted.",
                  "instance": "/api/v1/services",
                  "code": "METHOD_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/rate-limit-exceeded",
                  "title": "Rate limit exceeded",
                  "status": 429,
                  "detail": "Too many requests. The limit is 120 requests per 60 seconds per client address.",
                  "instance": "/api/v1/services",
                  "code": "RATE_LIMIT_EXCEEDED",
                  "retry_after": 45
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 45
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/internal-error",
                  "title": "Internal error",
                  "status": 500,
                  "detail": "An unexpected error occurred handling this request.",
                  "instance": "/api/v1/services",
                  "code": "INTERNAL_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services": {
      "get": {
        "operationId": "listServices",
        "summary": "List ShellFans service lines and whether each is currently offered",
        "description": "Returns every ShellFans service line with a stable identifier, a description of what it does, and whether ShellFans is currently selling it. Read `available` before telling a user that a service can be purchased — a service can be archived while its marketing pages stay online.",
        "tags": [
          "catalog"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "services"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "services": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 20,
                      "description": "Every ShellFans service line, whether or not currently offered.",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "name_en",
                          "summary",
                          "available",
                          "url",
                          "docs_url"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string",
                            "enum": [
                              "aeo_geo_managed_hosting",
                              "continuity_engine",
                              "word_of_mouth"
                            ],
                            "description": "Stable identifier. Use this, not `name`, to correlate."
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 120,
                            "description": "Traditional Chinese name as used in Taiwan."
                          },
                          "name_en": {
                            "type": "string",
                            "maxLength": 120,
                            "description": "English name."
                          },
                          "summary": {
                            "type": "string",
                            "maxLength": 600,
                            "description": "What the service does, in one or two sentences."
                          },
                          "available": {
                            "type": "boolean",
                            "description": "Whether ShellFans is currently selling this service. A service can be archived while its marketing pages remain online — check this before telling a user it is available."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Canonical landing page for the service."
                          },
                          "docs_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Deeper explanatory content for the service."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "services": [
                    {
                      "id": "aeo_geo_managed_hosting",
                      "name": "AEO/GEO 代管",
                      "name_en": "AEO/GEO Managed Hosting",
                      "summary": "Managed website hosting focused on being correctly understood and cited by AI answer engines.",
                      "available": true,
                      "url": "https://shell.fans/aeo-geo",
                      "docs_url": "https://shell.fans/aeo"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/resource-not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "No such operation in the ShellFans public API v1.",
                  "instance": "/api/v1/services",
                  "code": "RESOURCE_NOT_FOUND",
                  "available_operations": [
                    "/v1/status",
                    "/v1/services"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. The API is read-only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/method-not-allowed",
                  "title": "Method not allowed",
                  "status": 405,
                  "detail": "The ShellFans public API is read-only. Only GET and OPTIONS are accepted.",
                  "instance": "/api/v1/services",
                  "code": "METHOD_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/rate-limit-exceeded",
                  "title": "Rate limit exceeded",
                  "status": 429,
                  "detail": "Too many requests. The limit is 120 requests per 60 seconds per client address.",
                  "instance": "/api/v1/services",
                  "code": "RATE_LIMIT_EXCEEDED",
                  "retry_after": 45
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 45
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/internal-error",
                  "title": "Internal error",
                  "status": 500,
                  "detail": "An unexpected error occurred handling this request.",
                  "instance": "/api/v1/services",
                  "code": "INTERNAL_ERROR"
                }
              }
            }
          },
          "503": {
            "description": "The content service backing this operation is unreachable and no cached copy is available.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/upstream-unavailable",
                  "title": "Upstream unavailable",
                  "status": 503,
                  "detail": "The content service backing this operation is temporarily unreachable and no cached copy is available. Retry shortly.",
                  "instance": "/api/v1/services",
                  "code": "UPSTREAM_UNAVAILABLE"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 45
              }
            }
          }
        }
      }
    },
    "/api/v1/plans": {
      "get": {
        "operationId": "listPlans",
        "summary": "List published ShellFans plan tiers and prices",
        "description": "Returns the plan tiers shown on the ShellFans pricing page, with amounts in New Taiwan Dollars. Availability is signalled by `cta_label`, not by price — a priced plan can still be unreleased. Cross-check `listServices` before telling a user a plan can be bought.",
        "tags": [
          "catalog"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "currency",
                    "plans"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "currency": {
                      "type": "string",
                      "enum": [
                        "TWD"
                      ],
                      "description": "ISO 4217 code for every amount in this response."
                    },
                    "plans": {
                      "type": "array",
                      "maxItems": 30,
                      "description": "Published plan tiers, in display order.",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "monthly_price",
                          "yearly_price",
                          "cta_label",
                          "highlighted",
                          "url"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string",
                            "maxLength": 64,
                            "description": "Stable plan identifier."
                          },
                          "tier": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 64,
                            "description": "Tier family the plan belongs to. May be null."
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 120,
                            "description": "Display name (Traditional Chinese)."
                          },
                          "tagline": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 300
                          },
                          "monthly_price": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "minimum": 0,
                            "description": "Monthly amount in TWD. Null when not published."
                          },
                          "yearly_price": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "minimum": 0,
                            "description": "Yearly amount in TWD. Null when not published."
                          },
                          "cta_label": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 120,
                            "description": "The call-to-action text shown on the plan card, verbatim. A non-purchase label (for example 敬請期待 / coming soon) means the plan is announced but not yet purchasable. Price alone does not indicate availability: a priced plan can still be unreleased, and a zero-price plan can be live. Read this field rather than inferring from the amount."
                          },
                          "highlighted": {
                            "type": "boolean",
                            "description": "Whether the plan is presented as the recommended choice."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Page where the plan is presented."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "currency": "TWD",
                  "plans": [
                    {
                      "id": "ce_creator",
                      "tier": "creator",
                      "name": "創作者版",
                      "tagline": "專業創作者量身打造",
                      "monthly_price": 699,
                      "yearly_price": null,
                      "cta_label": "敬啟期待",
                      "highlighted": false,
                      "url": "https://shell.fans/pricing"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/resource-not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "No such operation in the ShellFans public API v1.",
                  "instance": "/api/v1/services",
                  "code": "RESOURCE_NOT_FOUND",
                  "available_operations": [
                    "/v1/status",
                    "/v1/services"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. The API is read-only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/method-not-allowed",
                  "title": "Method not allowed",
                  "status": 405,
                  "detail": "The ShellFans public API is read-only. Only GET and OPTIONS are accepted.",
                  "instance": "/api/v1/services",
                  "code": "METHOD_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/rate-limit-exceeded",
                  "title": "Rate limit exceeded",
                  "status": 429,
                  "detail": "Too many requests. The limit is 120 requests per 60 seconds per client address.",
                  "instance": "/api/v1/services",
                  "code": "RATE_LIMIT_EXCEEDED",
                  "retry_after": 45
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 45
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/internal-error",
                  "title": "Internal error",
                  "status": 500,
                  "detail": "An unexpected error occurred handling this request.",
                  "instance": "/api/v1/services",
                  "code": "INTERNAL_ERROR"
                }
              }
            }
          },
          "503": {
            "description": "The content service backing this operation is unreachable and no cached copy is available.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/upstream-unavailable",
                  "title": "Upstream unavailable",
                  "status": 503,
                  "detail": "The content service backing this operation is temporarily unreachable and no cached copy is available. Retry shortly.",
                  "instance": "/api/v1/services",
                  "code": "UPSTREAM_UNAVAILABLE"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 45
              }
            }
          }
        }
      }
    },
    "/api/v1/organization": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get ShellFans corporate identity, contact details and patents",
        "description": "Returns the authoritative machine-readable record of the company behind ShellFans: registered name, Taiwan unified business number, registered address, contact details, granted and pending patents, official social profiles and dated milestones. Use this for entity resolution — confirming that a ShellFans reference on the open web corresponds to this specific Taiwan company. The same facts appear as Schema.org Organization JSON-LD on every page of shell.fans.",
        "tags": [
          "identity"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "legal_name",
                    "brand_name",
                    "tax_id",
                    "jurisdiction",
                    "founded",
                    "website",
                    "email",
                    "telephone",
                    "address",
                    "patents",
                    "social",
                    "milestones"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "legal_name": {
                      "type": "string",
                      "maxLength": 200,
                      "description": "Registered company name in Traditional Chinese."
                    },
                    "brand_name": {
                      "type": "string",
                      "maxLength": 200,
                      "description": "Brand name used in English."
                    },
                    "brand_name_zh": {
                      "type": "string",
                      "maxLength": 200,
                      "description": "Combined Chinese-and-brand form used in Taiwan."
                    },
                    "tax_id": {
                      "type": "string",
                      "pattern": "^[0-9]{8}$",
                      "description": "Taiwan unified business number (統一編號)."
                    },
                    "jurisdiction": {
                      "type": "string",
                      "enum": [
                        "TW"
                      ],
                      "description": "ISO 3166-1 alpha-2 of the registering jurisdiction."
                    },
                    "founded": {
                      "type": "string",
                      "pattern": "^[0-9]{4}-[0-9]{2}$",
                      "description": "Incorporation month, YYYY-MM."
                    },
                    "website": {
                      "type": "string",
                      "format": "uri"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "telephone": {
                      "type": "string",
                      "maxLength": 40,
                      "description": "Main line in E.164 format."
                    },
                    "address": {
                      "type": "object",
                      "description": "Registered office address.",
                      "required": [
                        "street",
                        "locality",
                        "region",
                        "country"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "street": {
                          "type": "string",
                          "maxLength": 200
                        },
                        "locality": {
                          "type": "string",
                          "maxLength": 100,
                          "description": "District."
                        },
                        "region": {
                          "type": "string",
                          "maxLength": 100,
                          "description": "City."
                        },
                        "country": {
                          "type": "string",
                          "enum": [
                            "TW"
                          ]
                        }
                      }
                    },
                    "patents": {
                      "type": "array",
                      "maxItems": 20,
                      "description": "Patents covering the social media maintenance technology. ShellFans claims no AEO or GEO patent — do not describe any of these as such.",
                      "items": {
                        "type": "object",
                        "required": [
                          "jurisdiction",
                          "number",
                          "status"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "jurisdiction": {
                            "type": "string",
                            "enum": [
                              "TW",
                              "US",
                              "JP"
                            ],
                            "description": "ISO 3166-1 alpha-2 of the granting office."
                          },
                          "number": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 60,
                            "description": "Patent number. Null while an application is pending."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "granted",
                              "pending"
                            ]
                          }
                        }
                      }
                    },
                    "social": {
                      "type": "array",
                      "maxItems": 20,
                      "description": "Official ShellFans profiles. Same URLs published as Organization.sameAs.",
                      "items": {
                        "type": "object",
                        "required": [
                          "platform",
                          "url"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "platform": {
                            "type": "string",
                            "maxLength": 60
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "milestones": {
                      "type": "array",
                      "maxItems": 50,
                      "description": "Dated company milestones, oldest first.",
                      "items": {
                        "type": "object",
                        "required": [
                          "date",
                          "title"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "date": {
                            "type": "string",
                            "maxLength": 40,
                            "description": "Date as published, for example \"2023/03\" or \"2004-2015\"."
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 200
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "legal_name": "唄粉智能科技股份有限公司",
                  "brand_name": "ShellFans AI Technology",
                  "brand_name_zh": "唄粉智能科技ShellFans",
                  "tax_id": "83032387",
                  "jurisdiction": "TW",
                  "founded": "2023-03",
                  "website": "https://shell.fans",
                  "email": "hello@shell.fans",
                  "telephone": "+886-2-7714-3635",
                  "address": {
                    "street": "瑞光路335號4樓",
                    "locality": "內湖區",
                    "region": "臺北市",
                    "country": "TW"
                  },
                  "patents": [
                    {
                      "jurisdiction": "TW",
                      "number": "I908295",
                      "status": "granted"
                    }
                  ],
                  "social": [
                    {
                      "platform": "Facebook",
                      "url": "https://www.facebook.com/profile.php?id=61581243232686"
                    }
                  ],
                  "milestones": [
                    {
                      "date": "2023/03",
                      "title": "創辦唄粉智能科技股份有限公司"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/resource-not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "No such operation in the ShellFans public API v1.",
                  "instance": "/api/v1/services",
                  "code": "RESOURCE_NOT_FOUND",
                  "available_operations": [
                    "/v1/status",
                    "/v1/services"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. The API is read-only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/method-not-allowed",
                  "title": "Method not allowed",
                  "status": 405,
                  "detail": "The ShellFans public API is read-only. Only GET and OPTIONS are accepted.",
                  "instance": "/api/v1/services",
                  "code": "METHOD_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/rate-limit-exceeded",
                  "title": "Rate limit exceeded",
                  "status": 429,
                  "detail": "Too many requests. The limit is 120 requests per 60 seconds per client address.",
                  "instance": "/api/v1/services",
                  "code": "RATE_LIMIT_EXCEEDED",
                  "retry_after": 45
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "example": 120
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 119
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 60
              },
              "RateLimit-Policy": {
                "description": "Policy in the form \"<limit>;w=<window seconds>\".",
                "schema": {
                  "type": "string"
                },
                "example": "120;w=60"
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 45
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/internal-error",
                  "title": "Internal error",
                  "status": 500,
                  "detail": "An unexpected error occurred handling this request.",
                  "instance": "/api/v1/services",
                  "code": "INTERNAL_ERROR"
                }
              }
            }
          },
          "503": {
            "description": "The content service backing this operation is unreachable and no cached copy is available.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://shell.fans/problems/upstream-unavailable",
                  "title": "Upstream unavailable",
                  "status": 503,
                  "detail": "The content service backing this operation is temporarily unreachable and no cached copy is available. Retry shortly.",
                  "instance": "/api/v1/services",
                  "code": "UPSTREAM_UNAVAILABLE"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "example": 45
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {},
    "schemas": {
      "Problem": {
        "type": "object",
        "title": "Problem",
        "description": "RFC 9457 Problem Details. Every error from the ShellFans public API uses this shape and is served as application/problem+json. Branch on `code`; the wording of `title` and `detail` is not stable.",
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "code"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Absolute URI identifying the problem type. Dereferenceable.",
            "examples": [
              "https://shell.fans/problems/resource-not-found"
            ]
          },
          "title": {
            "type": "string",
            "maxLength": 200,
            "description": "Short human-readable summary. Wording may change."
          },
          "status": {
            "type": "integer",
            "minimum": 400,
            "maximum": 599,
            "description": "HTTP status code, repeated for convenience."
          },
          "detail": {
            "type": "string",
            "maxLength": 1000,
            "description": "Explanation specific to this occurrence."
          },
          "instance": {
            "type": "string",
            "maxLength": 500,
            "description": "Path of the request that produced the error."
          },
          "code": {
            "type": "string",
            "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "RESOURCE_NOT_FOUND",
              "METHOD_NOT_ALLOWED",
              "VALIDATION_FAILED",
              "RATE_LIMIT_EXCEEDED",
              "UPSTREAM_UNAVAILABLE",
              "INTERNAL_ERROR"
            ],
            "description": "Stable machine-readable identifier. Branch on this."
          },
          "retry_after": {
            "type": "integer",
            "minimum": 0,
            "description": "Seconds to wait before retrying. Present on 429."
          },
          "available_operations": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "type": "string"
            },
            "description": "Valid operation paths. Present on 404."
          }
        }
      }
    }
  }
}
